.createPost {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
}

.createPost__top {
  display: flex;
  border-bottom: 1px solid #eff2f5;
  padding: 15px 0 15px 15px;
}

.createPost__top > form {
  flex: 1;
  display: flex;
}

.createPost__input {
  flex: 1;
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: #eff2f5;
}

.createPost__fileSelector {
  width: 20%;
}

.createPost__top > form > button {
  height: 0;
  width: 0;
  background-color: transparent;
  color: transparent;
  border: none;
}

.createPost__bottom {
  display: flex;
  justify-content: space-evenly;
}

.createPost__option {
  padding: 20px;
  display: flex;
  align-items: center;
  color: gray;
  margin: 5px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.createPost__option:hover {
  background-color: #eff2f5;
  transition: background-color 0.1s ease;
}

.createPost__option > h3 {
  font-size: medium;
  margin-left: 10px;
}
